[Desktop Entry]
Icon=text-html
Name=Consent form link
Type=Link
URL[$e]=https://eu.jotform.com/sign/230397721279059/invite/01grwg6ddb8f65709aaeffe4ff
